.attributeBox {
	text-align: center;
	font-size: 20px;
	display: inline-block;
}

.attributeBoxMini {
	text-align: center;
	font-size: 20px;
	display: inline-block;
}

.positionRelativeContainer {
	position: relative;
	text-align: center;
}

.centerStuff {
	display: inline-block;
}

.listTitle{
	font-size: 48px;
}

.ratingsPanel {
/* 	margin-top: 75px; */
}

.sortButton {
	cursor: pointer;
}

.rowPadding {
	padding-bottom: 6px;
}

.rowBuffs {
	margin-bottom: 36px;
}

.itemInList {
/* 	margin-top: 10px; */
/* 	border-bottom: solid #c0c0c0; */
}

span.redRating {
	background: #5133AB;
	border-radius: 50%;
	color: #ffffff;
	display: inline-block;
	font-family: 'Open Sans', sans-serif;
	font-weight: bold;
	line-height: 50px;
	text-align: center;
	-webkit-box-shadow: 5px 5px 5px 0px rgba(50, 50, 50, 0.75);
	-moz-box-shadow: 5px 5px 5px 0px rgba(50, 50, 50, 0.75);
	box-shadow: 5px 5px 5px 0px rgba(50, 50, 50, 0.75);
	-webkit-box-shadow: 5px 5px 5px 0px rgba(50, 50, 50, 0.75);
}

span.redRating:hover {
	background: #913D88;
}

.btn-more{
	background: #913D88;
	color: white;
}

.grayBackground{
	background: lightgray;
}

.btn-more:hover{
	background: #5133AB;
	color: white;
}

.itemBox {
	padding: 0px;
	margin: 0px;
	text-align: center;
	display: inline-block;
}

.hidden {
	visibility: hidden !important;
}

.spinner {
  margin: 100px auto;
  margin-top: 20px;
  width: 50px;
  height: 40px;
  text-align: center;
  font-size: 10px;
}

.spinner > div {
  background-color: #333;
  height: 100%;
  width: 6px;
  display: inline-block;
  
  -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
  animation: sk-stretchdelay 1.2s infinite ease-in-out;
}

.spinner .rect2 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}

.spinner .rect3 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

.spinner .rect4 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

.spinner .rect5 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}

@-webkit-keyframes sk-stretchdelay {
  0%, 40%, 100% { -webkit-transform: scaleY(0.4) }  
  20% { -webkit-transform: scaleY(1.0) }
}

@keyframes sk-stretchdelay {
  0%, 40%, 100% { 
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
  }  20% { 
    transform: scaleY(1.0);
    -webkit-transform: scaleY(1.0);
  }
}

/* Large desktops and laptops */
@media ( min-width : 1200px) {
	span.redRating {
		width: 65px;
		height: 65px;
		font-size: 32px;
	}
	.ratingNumber {
	margin-top: 8px;
}
.attributeBox{
		margin-top: 40px;
		cursor: pointer;
}
.itemName {
	margin-top:75px;
	color: black;
}
.listItemImage {
	height: 200px;
	width: 200px;
	margin-top:-30px;
}
.numberText{
	font-size: 18px;
}
.btn-arrow-right,
.btn-arrow-left {
   margin-top:100px;
}
}

/* Landscape tablets and medium desktops */
@media ( min-width : 992px) and (max-width: 1199px) {
	span.redRating {
		width: 55px;
		height: 55px;
		font-size: 28px;
	}
	.ratingNumber {
	margin-top:5px;
}
.attributeBox{
		margin-top: 40px;
		cursor: pointer;
}
.itemName {
	margin-top:75px;
	font-size: 24px;
	color: black;
}
.listItemImage {
	height: 150px;
	width: 150px;
	margin-top:-30px;
}
.numberText{
	font-size: 20px;
}
.attributeName{
	font-size: 16px;
}
.btn-arrow-right,
.btn-arrow-left {
   margin-top:100px;
}
}

/* Portrait tablets and small desktops */
@media ( min-width : 768px) and (max-width: 991px) {
	span.redRating {
		width: 45px;
		height: 45px;
		font-size: 24px;
	}
	.ratingNumber {
	margin-top: -2px;
}
.attributeBox{
		margin-top: 40px;
		cursor: pointer;
}
.itemName {
	margin-top:75px;
	color: black;
}
.listItemImage {
	height: 100px;
	width: 100px;
	margin-top:-30px;
	margin-left: 30px;
}
.itemName{
	font-size: 16px;
	margin-left:3px;
}
.attributeName{
	font-size: 12px;
}
.numberText{
	font-size: 20px;
}
.btn-arrow-right,
.btn-arrow-left {
   margin-top:100px;
}
}

/* Landscape phones and portrait tablets */
@media
(
max-width
:
767px)
{
	span.redRating {
		width: 45px;
		height: 45px;
		font-size: 24px;
	}
	.ratingNumber {
	margin-top: 0px;
}
.attributeBoxMini{
		margin-top: 10px;
		cursor: pointer;
}
.itemName{
	margin-top: 0px;
	color: black;
}
.attributeName{
	font-size: 12px;
}
.listItemImage {
	height: 200px;
	width: 200px;
}
.numberText{
	font-size: 32px;
}
.btn-arrow-right,
.btn-arrow-left {
   margin-top:20px;
}
}

/* Portrait phones and smaller */
@media ( max-width : 480px) {
	span.redRating {
		width: 26px;
		height: 26px;
		font-size:14px;
	}
	.ratingNumber {
	margin-top: -12px;
}
.attributeName{
	font-size: 8px;
}
.attributeBoxMini{
		margin-top: 5px;
		cursor: pointer;
}
.itemName{
	margin-top: 0px;
	color: black;
}
.listItemImage {
	height: 200px;
	width: 200px;
}
.numberText{
	font-size: 32px;
}
.btn-arrow-right,
.btn-arrow-left {
   margin-top:20px;
}
}

.btn-arrow-right,
.btn-arrow-left {
   position: relative;
   padding-left: 18px;
   padding-right: 18px;
}

.btn-arrow-right {
   padding-left: 36px;
}

.btn-arrow-left {
   padding-right: 36px;
}

.btn-arrow-right:before,
.btn-arrow-right:after,
.btn-arrow-left:before,
.btn-arrow-left:after {
   /* make two squares (before and after), looking similar to the button */
   
   content: "";
   position: absolute;
   top: 5px;
   /* move it down because of rounded corners */
   
   width: 22px;
   /* same as height */
   
   height: 22px;
   /* button_outer_height / sqrt(2) */
   
   background: inherit;
   /* use parent background */
   
   border: inherit;
   /* use parent border */
   
   border-left-color: transparent;
   /* hide left border */
   
   border-bottom-color: transparent;
   /* hide bottom border */
   
   border-radius: 0px 4px 0px 0px;
   /* round arrow corner, the shorthand property doesn't accept "inherit" so it is set to 4px */
   
   -webkit-border-radius: 0px 4px 0px 0px;
   -moz-border-radius: 0px 4px 0px 0px;
}

.btn-arrow-right:before,
.btn-arrow-right:after {
   transform: rotate(45deg);
   /* rotate right arrow squares 45 deg to point right */
   
   -webkit-transform: rotate(45deg);
   -moz-transform: rotate(45deg);
   -o-transform: rotate(45deg);
   -ms-transform: rotate(45deg);
}

.btn-arrow-left:before,
.btn-arrow-left:after {
   transform: rotate(225deg);
   /* rotate left arrow squares 225 deg to point left */
   
   -webkit-transform: rotate(225deg);
   -moz-transform: rotate(225deg);
   -o-transform: rotate(225deg);
   -ms-transform: rotate(225deg);
}

.btn-arrow-right:before,
.btn-arrow-left:before {
   /* align the "before" square to the left */
   
   left: -11px;
}

.btn-arrow-right:after,
.btn-arrow-left:after {
   /* align the "after" square to the right */
   
   right: -11px;
}

.btn-arrow-right:after,
.btn-arrow-left:before {
   /* bring arrow pointers to front */
   
   z-index: 1;
}

.btn-arrow-right:before,
.btn-arrow-left:after {
   /* hide arrow tails background */
   
   background-color: white;
}

.toggleAttButton{
	margin-top:70px;
}