
.showlist-desktop {
	color: #000000;
	transition: all 0.2s ease;
	height: 80px;
	width: 100%;
	font-size: 18px;
	font-weight: bold;
	opacity: 0.8;
	text-align: center;
	font-variant: small-caps;
	margin-left: -16px;
	position: absolute;
}

.listButtonMarg{
	margin-top: 20px;
}

.imager{
	width: 800px;
}

.show-info {
	color: #333333;
	transition: all 0.2s ease;
	font-size: 22px;
	opacity: 0.8;
	background-color: white;
	position: absolute;
	bottom: 90px;
	display: none;
	width: 97%;
	line-height: 200%;
}

.show-info span {
	transition: all 0.2s ease;
	width: 100%;
	display: inherit;	
}

@media (min-width: 500px) {
	.showlist-desktop {
		font-size: 25px;
	
	}
	.item-desktop:hover > .show-info {
		display: block;
	}
}

/* .main-body { */
/* 	background-color: white; */
/* 	margin-left: 20px; */
/* 	margin-right: 20px; */
/* 	padding-top: 80px; */
/* } */

.navbar-default {
	background-color: #cccccc;
	border-color: #cccccc;
	padding-top: 15px;
	height: 60px;
}



.item-desktop {
	margin-top: 100px;
}

.spinner {
  margin: 100px auto;
  margin-top: 20px;
  width: 50px;
  height: 40px;
  text-align: center;
  font-size: 10px;
}

.spinner > div {
  background-color: #333;
  height: 100%;
  width: 6px;
  display: inline-block;
  
  -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
  animation: sk-stretchdelay 1.2s infinite ease-in-out;
}

.spinner .rect2 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}

.spinner .rect3 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

.spinner .rect4 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

.spinner .rect5 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}

@-webkit-keyframes sk-stretchdelay {
  0%, 40%, 100% { -webkit-transform: scaleY(0.4) }  
  20% { -webkit-transform: scaleY(1.0) }
}

@keyframes sk-stretchdelay {
  0%, 40%, 100% { 
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
  }  20% { 
    transform: scaleY(1.0);
    -webkit-transform: scaleY(1.0);
  }
}

/* Large desktops and laptops */
@media ( min-width : 1200px) {

	.imager{
	height: 350px;
}
}

/* Landscape tablets and medium desktops */
@media ( min-width : 992px) and (max-width: 1199px) {
	.imager{
	height: 400px;
}
}

/* Portrait tablets and small desktops */
@media ( min-width : 768px) and (max-width: 991px) {
	.imager{
	height: 400px;
}
}

/* Landscape phones and portrait tablets */
@media ( max-width : 767px) {
	.imager{
	height: 300px;
}
}

/* Portrait phones and smaller */
@media ( max-width : 480px) {
	.imager{
	height: 200px;
}
}

