body {
	background-color: #cccccc;
/* 	background-color: #ff6666;
 */		font-family: Tahoma, Geneva, sans-serif;

/* 	soft red : #FF5A5F;
	selected : #C20021;
	other red: #ff6666 */
}

.col-md-6 {
	padding-bottom: 30px;
	max-width: 500px;
}


.showlist-desktop {
	color: #333333;
	transition: all 0.2s ease;
	height: 80px;
	width: 100%;
	font-size: 18px;
	font-weight: bold;
	opacity: 0.8;
	text-align: center;
	font-variant: small-caps;
	padding-top: 20px;
	position: absolute;
	bottom: 10px;
}

#categoryselect,#categoryselect:hover {
	z-index: 1032;
	color: white;
	width: 150px;
	cursor: default;
	background-color: #FF5A5F;
}


#filterbutton {
	border: none;
	border-left: 2px solid;
	border-color: #C20021;
	height: 34px;
	background-color: #FF5A5F;
	
}

#filterbutton:hover {
	background-color: #C20021;
}

.show-info {
	color: #333333;
	transition: all 0.2s ease;
	font-size: 22px;
	opacity: 0.8;
	background-color: white;
	position: absolute;
	bottom: 90px;
	display: none;
	width: 97%;
	line-height: 200%;
}

.show-info span {
	transition: all 0.2s ease;
	width: 100%;
	display: inherit;	
}

@media (min-width: 500px) {
	.showlist-desktop {
		font-size: 25px;
	
	}
	.item-desktop:hover > .show-info {
		display: block;
	}
}

button {
	color: white;
}

.main-body {
	background-color: white;
	margin-left: 20px;
	margin-right: 20px;
	padding-top: 80px;
}

.navbar-default {
	background-color: #cccccc;
	border-color: #cccccc;
	padding-top: 15px;
	height: 60px;
}



.item-desktop {
	position: relative;
	padding: 10px;
/* 	padding-left: 10px;
	padding-top: 10px;
	padding-right: 10px; */
	padding-bottom: 90px;
	border: 7 px solid;
	border-color: #808080;
 	background-color: white;
	-moz-box-shadow: 3px 3px 4px #cc3300;
	-webkit-box-shadow: 3px 3px 4px #cc00cc;
	box-shadow: 3px 3px 4px #000000;
	cursor: pointer;
}

.col-desk {
	
}

.col-mob {
	
}


.spinner {
  margin: 100px auto;
  margin-top: 20px;
  width: 50px;
  height: 40px;
  text-align: center;
  font-size: 10px;
}

.spinner > div {
  background-color: #333;
  height: 100%;
  width: 6px;
  display: inline-block;
  
  -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
  animation: sk-stretchdelay 1.2s infinite ease-in-out;
}

.spinner .rect2 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}

.spinner .rect3 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

.spinner .rect4 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

.spinner .rect5 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}

@-webkit-keyframes sk-stretchdelay {
  0%, 40%, 100% { -webkit-transform: scaleY(0.4) }  
  20% { -webkit-transform: scaleY(1.0) }
}

@keyframes sk-stretchdelay {
  0%, 40%, 100% { 
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
  }  20% { 
    transform: scaleY(1.0);
    -webkit-transform: scaleY(1.0);
  }
}

