body {
	background-color: #FF5A5F;
/* 	soft red : #FF5A5F;
	selected : #913D88;
	other red: #ff6666 */
}

.item-desktop {
	transition: all 0.2s ease;
	background-color: #666666;
	border: 2px solid;
	border-color: #666666;
	border-radius: 7px;
	width: 100%;
	height: 100px;
	margin-bottom: 7px;
}

.list-name-description {
	color: white;
	font-size: 25px;
	padding-top: 10px;
	font-weight: bold;
	width: 100%;
}

.current-leader-description {
	color: white;
	font-size: 20px;
	padding-top: 15px;
}
.category-name-description {
	color: white;
	font-size: 17px;
	vertical-align: bottom;
	padding-top: 50px;
	padding-right: 8px;
}

.item-desktop:hover {
	background-color: #913D88;
	border-color: #913D88;
	cursor: pointer;
	
}

.spinner {
  margin: 100px auto;
  margin-top: 20px;
  width: 50px;
  height: 40px;
  text-align: center;
  font-size: 10px;
}

.hidden {
	visibility: hidden !important;
}

.spinner > div {
  background-color: #333;
  height: 100%;
  width: 6px;
  display: inline-block;
  
  -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
  animation: sk-stretchdelay 1.2s infinite ease-in-out;
}

.spinner .rect2 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}

.spinner .rect3 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

.spinner .rect4 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

.spinner .rect5 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}

@-webkit-keyframes sk-stretchdelay {
  0%, 40%, 100% { -webkit-transform: scaleY(0.4) }  
  20% { -webkit-transform: scaleY(1.0) }
}

@keyframes sk-stretchdelay {
  0%, 40%, 100% { 
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
  }  20% { 
    transform: scaleY(1.0);
    -webkit-transform: scaleY(1.0);
  }
}

