
#top-nav.desk {
	list-style: none;
	position: absolute;
	z-index: 1032;
	left: 150px;
	margin: 0;
	padding: 0;
}

.menubackground {
	position: fixed;
	background-color: gray;
	opacity: .5;
	width:150%;
	height:120%;
	z-index:1031;
	top: -40px;
	left: -300px;
	
}

.list-item a {
	width: 350px !IMPORTANT;
}

.list-item-parent {
	width: 350px !IMPORTANT;
}

 #top-nav.desk ul {
 	width: 200px;
 	position: absolute;
 	list-style:none;
 	margin: 0;
 	padding: 0;
 }
#top-nav.desk li a {
	padding: 5px 5px;
	background: #FF5A5F;
	border: 1px solid #eee;
	color: #fff;
	height: 30px;
	width: 200px;
	font-size: 16px;}

.selected {
	background: #C20021 !important;
	}

#top-nav.desk li a:hover {
	background: #C20021;
	cursor: pointer;
}
 
#top-nav.desk li ul {
	position: absolute;
	width: 200px;
} 

/* .menu-item-menu {
	position: absolute;
	left: 200px;
	top: -30px;
	
} */

.hidden {
	display: none;
}

.showmethemoney{
	display: block;
}

#top-nav.mobile {
	list-style: none;
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 100;
	background-color: #FF5A5F;
	padding: 0;	
	margin: 0;
}

#top-nav.mobile ul {
	list-style: none;
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 100;
	background-color: #FF5A5F;
	margin: 0;
	padding: 0;
	
}
#top-nav.mobile li {
	text-align: center;
	padding: 10px;
	background-color: #FF5A5F;
	border-top: 1px solid #eee;
}

#top-nav.mobile li a {
	font-size: 150%;
	color: #fff;
	
}

.hide {
	display: none; !important
}


