.centerAlign {
	text-align: center;
}

.verticalAlign {
	vertical-align: bottom;
}

#main-body {
	margin-right: auto;
	margin-left: auto;
	max-width: 1200px; /* or 950px */
}

html * {
	font-family: 'Open Sans', sans-serif;
}

h1 {
	font-family: 'Black Ops One', cursive;
}

h2 {
	font-size: 60px;
	font-family: 'Black Ops One', cursive;
}

.glyphicon {
	font-size: 40px;
}

/* Large desktops and laptops */
@media ( min-width : 1200px) {
	h1 {
		font-size: 100px;
		margin-top:180px;
	}
	h3 {
		font-size: 30px;
	}
	.vsImage {
		height: 400px;
		width: 400px;
		opacity: 0;
	}
}

/* Landscape tablets and medium desktops */
@media ( min-width : 992px) and (max-width: 1199px) {
	h1 {
		font-size: 100px;
		margin-top:180px;
	}
	h3 {
		font-size: 30px;
	}
	.vsImage {
		height: 400px;
		width: 400px;
		opacity: 0;
	}
}

/* Portrait tablets and small desktops */
@media ( min-width : 768px) and (max-width: 991px) {
	h1 {
		font-size: 50px;
	}
	h3 {
		font-size: 30px;
	}
	.vsImage {
		height: 300px;
		width: 300px;
		opacity: 0;
	}
}

/* Landscape phones and portrait tablets */
@media ( max-width : 767px) {
	h1 {
		font-size: 40px;
	}
	h3 {
		font-size: 20px;
	}
	.vsImage {
		height: 250px;
		width: 250px;
		opacity: 0;
	}
}

/* Portrait phones and smaller */
@media ( max-width : 480px) {
	h1 {
		font-size: 30px;
	}
	h3 {
		font-size: 12px;
	}
	.vsImage {
		height: 150px;
		width: 150px;
		opacity: 0;
	}
	.glyphicon {
	font-size: 20px;
}
}

.nopadding {
	padding: 0 !important;
	margin: 0 !important;
}

.btn-circle {
	width: 30px;
	height: 30px;
	text-align: center;
	padding: 0px 0;
	font-size: 12px;
	line-height: 1.428571429;
	border-radius: 30px;
	background: transparent;
	color: #913D88;
	outline: none;
}

.btn-circle:hover {
	color: black;
}

.btn-circle.btn-xl {
	width: 50px;
	height: 50px;
	/* 	padding: 30px 36px; */
	font-size: 24px;
	line-height: 1.33;
	border-radius: 70px;
	text-align: center;
	diplay: block;
	position: relative;
/* 	box-shadow: 0px 3px 8px green, inset 0px 2px 3px red; */
	outline: none;
}

.row-buffer {
	margin-bottom: 20px;
}

.row-buffer-top {
	margin-top: 50px;
	pointer-events: none;
}

h4 {
	font-size: 10px;
}

.vsImage {
	-webkit-transition: opacity 150ms;
	-moz-transition: opacity 150ms;
	-ms-transition: opacity 150ms;
	transition: opacity 150ms;
}

.btn:active {
	outline: none !important;
}

.vsImage.loaded {
	opacity: 1;
}

.glyphicon-chevron-left{
	font-size:20px;
}

.glyphicon-chevron-right{
	font-size:20px;
}