<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <servlet>
    <servlet-name>LystServlet</servlet-name>
    <servlet-class>Servlets.LystServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LystServlet</servlet-name>
    <url-pattern>/bro/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ImageServlet</servlet-name>
    <servlet-class>Servlets.ImageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ImageServlet</servlet-name>
    <url-pattern>/imageservlet/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>used to return lists to the list page</description>
    <display-name>ListHandler</display-name>
    <servlet-name>ListHandler</servlet-name>
    <servlet-class>Servlets.ListHandler</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListHandler</servlet-name>
    <url-pattern>/ListHandler</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ContributorServlet</display-name>
    <servlet-name>ContributorServlet</servlet-name>
    <servlet-class>Servlets.ContributorServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ContributorServlet</servlet-name>
    <url-pattern>/ContributorServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>this servlet handles populating each individual list with peoples</description>
    <display-name>MoneyServlet</display-name>
    <servlet-name>MoneyServlet</servlet-name>
    <servlet-class>Servlets.MoneyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MoneyServlet</servlet-name>
    <url-pattern>/MoneyServlet</url-pattern>
    <url-pattern>/lyst/</url-pattern>
    <url-pattern>/lyst</url-pattern>
  </servlet-mapping>
</web-app>